/* Default styles for the grid */
.sticky-top {
  position: sticky;
  top: 0;
  background-color: rgb(255, 130, 130);
  padding: 10px;
  z-index: 1000;
  
}
.sticky-top h1{
  margin-bottom: 10px;
}

.pinterest-grid {
    column-gap: 16px;
    margin: 20px; 
  }
  
  .grid-item {
    break-inside: avoid; 
    margin-bottom: 16px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .grid-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .grid-item p {
    margin-top: 8px;
  }
  
  /* Different card colors */
  .grid-item:nth-child(odd) {
    background-color: #0966f1;
  }
  
  .grid-item:nth-child(even) {
    background-color: #eb3232; 
  }
  
  /* Media queries for responsive layout */
  @media screen and (min-width: 1201px) {
    .pinterest-grid {
      column-count: 5; 
    }
  }
  
  @media screen and (max-width: 1200px) {
    .pinterest-grid {
      column-count: 4;
    }
  }
  
  @media screen and (max-width: 800px) {
    .pinterest-grid {
      column-count: 3; 
    }
  }
  
  @media screen and (max-width: 500px) {
    .pinterest-grid {
      column-count: 2; 
    }
  }
  