/* Default styles for the grid */

.App{
  display: flex;
  flex-direction: column;
  
}
.sticky-top {
  position: sticky;
  top: 0;
  background-color: rgb(173, 173, 173);
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  
}
.sticky-top h1{
  margin-top: 20px;
  margin-bottom: 10px;
}
/* .select-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  text-align: center;
  margin: 10px;
  background-color: aliceblue;
} */

.pinterest-grid {
    column-gap: 16px;
    margin: 20px; 
  }
  
  .grid-item {
    break-inside: avoid; 
    margin-bottom: 16px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .grid-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .grid-item p {
    margin-top: 8px;
  }
  
  /* Media queries for responsive layout */
  @media screen and (min-width: 1201px) {
    .pinterest-grid {
      column-count: 5; 
    }
  }
  
  @media screen and (max-width: 1200px) {
    .pinterest-grid {
      column-count: 3;
    }
  }
  
  @media screen and (max-width: 800px) {
    .pinterest-grid {
      column-count: 3; 
    }
  }
  
  @media screen and (max-width: 500px) {
    .pinterest-grid {
      column-count: 2; 
    }
  }
  